.header-container {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  box-sizing: border-box;
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-shadow: rgba(21, 27, 34, 0) 0px 1px 0px 0px;
  max-width: 100vw;
  height: 72px;
  top: 0px;
  position: sticky;
  z-index: 120;
  transition: top 0.5s var(--transition-curve), background-color 0.2s var(--transition-curve), box-shadow 0.2s var(--transition-curve), color 0.2s var(--transition-curve);
  background-color: rgba(32, 34, 37, 0);
}

.nav-wrapper {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  max-width: 2560px;
  height: 100%;
  padding: 0px 64px;
}

.navbar--main {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: -16px;
}

.brand-container {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  padding-right: 48px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.brand-home-link {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  color: rgb(32, 129, 226);
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  padding: 8px 0px;
  position: relative;
}

.logo-image {
  box-sizing: border-box;
  width: 150px;
  line-height: 30px;
  padding: 8px 0;
  position: relative;

}

.nav-link {
  align-items: center;
  box-sizing: border-box;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  margin: 0px;
}

.nav-search {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.nav-search-important {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: none !important;
}

.nav-search2 {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.nav-search-only {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}