/*section-1 TEXT START*/

.section-1 {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  box-sizing: border-box;
  min-width: 0px;
  grid-column: span var(--grid-item-col-span);
  --grid-item-col-span: 12;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -72px;
  padding-top: 72px;
}

.section1-container {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  box-sizing: border-box;
  min-width: 0px;
  grid-column: span var(--grid-item-col-span);
  --grid-item-col-span: 12;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -72px;
  padding-top: 72px;
}

.section1-container2 {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  --grid-item-col-span: 12;
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  max-width: 2560px;
  padding: 0px 64px;
}

.section1-wrapper {
  margin-top: 40px;
  margin-bottom: 56px;
}

.section1-text {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  --grid-item-col-span: 12;
  box-sizing: border-box;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.text {
  font-family: Poppins, sans-serif;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  --grid-item-col-span: 12;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  color: rgb(255, 255, 255);
  --text-large: 48px;
  --text-medium: 32px;
  --text-small: 24px;
  --text-lh-large: 56px;
  --text-lh-medium: 40px;
  --text-lh-small: 32px;
  font-size: var(--text-large);
  line-height: var(--text-lh-large);
  font-weight: 700;
}

/* section1 TEXT END*/

/* section1 BACKGROUND START*/
.background-grid {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --grid-item-col-span: 12;
  box-sizing: border-box;
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  display: grid;
  grid-template-columns: repeat(var(--template-num-columns), 1fr);
  grid-row-gap: var(--template-grid-row-gap);
  grid-column-gap: var(--template-grid-column-gap);
  --template-grid-gap: 24px;
}

.background-container {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  color: rgb(229, 232, 235);
  --template-grid-row-gap: 8px;
  --template-grid-column-gap: 8px;
  --template-num-columns: 12;
  --template-grid-gap: 24px;
  box-sizing: border-box;
  min-width: 0px;
  grid-column: span var(--grid-item-col-span);
  --grid-item-col-span: 12;
}

/* section1 BACKGROUND GRID*/